<form name="domainCheck" flex>        
    <div layout="row" layout-align="center start">        
        <div layout="row" md-whiteframe="1" flex="30" class="container" layout-padding layout-wrap layout-margin ng-cloak>          
            
            <div class="md-padding" flex layout="column" >
                <h4>CSV file only</h4>
                <small style="text-align:right;"><a href="/api/domain-file-check/default-file" target="_blank">dowload format</a></small>
                <input type = "file" accept=".csv" file-model = "myFile" style="margin-left: 10px;"/>
                <br/>
                <button ng-click = "vm.submit()" class="md-button md-raised md-primary">Run Checker</button>                                
               

                <p style="text-align:center;" ng-if="vm.downloadAvailable">
                    <small>download result</small> <br>
                    <a href="/api/domain-file-check/download-result" target="_blank">
                        <md-icon class="fa fa-download download-icon" ng-click="vm.download()"></md-icon>
                    </a>
                </p>
            </div>        
        </div>    

    </div>
</form>   

<div layout="row" layout-align="center start" ng-if="vm.showTable" layout-margin >
        
        <div layout="column" md-whiteframe="1" flex="40" class="container" layout-padding layout-wrap  ng-cloak>  
                <div flex layout="row" layout-align="center center">
                        <p flex layout="row" layout-align="center center" class="copy-clipboard">-- Fine --</p>
                        <a clipboard href="javascript:void(0)" supported="vm.supported" text="vm.copy.fine" on-copied="vm.copySuccess()" on-error="vm.copyFail(err)">
                                <md-icon class="fa fa-copy"></md-icon>
                        </a>
                    </div>
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="no-hover" ng-repeat="domain in vm.domainsFineDisplay">
                            <td>{{domain.url}}</td>
                            <td>
                                <md-icon class="fa fa-check green" ng-if="!domain.flagged"></md-icon>
                                <md-icon class="fa fa-times red" ng-if="domain.flagged"></md-icon>
                            </td>
                        </tr>
                        <tr class="no-hover" ng-if="!vm.domainsFineDisplay.length">
                            <td colspan="3" align=center>No data</td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination
                    total-items="vm.paginationOpts.domainsFineDisplay.totalItems"
                    max-size="5" 
                    boundary-link-numbers="true"
                    force-ellipses="true"
                    items-per-page="{{vm.paginationOpts.domainsFineDisplay.perPage}}"
                    ng-model="vm.paginationOpts.domainsFineDisplay.currPage"
                    rotate="false"
                    ng-change="vm.paginationOpts.domainsFineDisplay.pageChange()"
                    layout="row"
                    layout-align="center center" flex></ul>            
        </div>
        <div layout="column" md-whiteframe="1" flex="40" class="container" layout-padding layout-wrap  ng-cloak>  
                <div flex layout="row" layout-align="center center">
                    <p flex layout="row" layout-align="center center" class="copy-clipboard">-- Flagged --</p>
                    <a clipboard href="javascript:void(0)" supported="vm.supported" text="vm.copy.flagged" on-copied="vm.copySuccess()" on-error="vm.copyFail(err)">
                            <md-icon class="fa fa-copy"></md-icon>
                    </a>
                </div>   
                <table class="custom-table">
                    <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="no-hover" ng-repeat="domain in vm.domainsFlaggedDisplay">
                            <td>{{domain.url}}</td>
                            <td>
                                <md-icon class="fa fa-check green" ng-if="!domain.flagged"></md-icon>
                                <md-icon class="fa fa-times red" ng-if="domain.flagged"></md-icon>
                            </td>
                        </tr>
                        <tr class="no-hover" ng-if="!vm.domainsFlaggedDisplay.length">
                            <td colspan="3" align=center>No data</td>
                        </tr>
                    </tbody>
                </table>
                <ul uib-pagination
                    total-items="vm.paginationOpts.domainsFlaggedDisplay.totalItems"
                    max-size="5" 
                    boundary-link-numbers="true"
                    force-ellipses="true"
                    items-per-page="{{vm.paginationOpts.domainsFlaggedDisplay.perPage}}"
                    ng-model="vm.paginationOpts.currPage"
                    rotate="false"
                    ng-change="vm.paginationOpts.domainsFlaggedDisplay.pageChange()"
                    layout="row"
                    layout-align="center center" flex></ul>            
        </div>
    </div>

<md-toast md-theme="default" ng-repeat="toast in vm.stackToasts" class="custom-toast" ng-class="{'md-toast-error':!toast.success, 'md-toast-success':toast.success}" ng-style="toast.style">
    <div class="md-toast-content">
        <span class="md-toast-text" role="alert" aria-relevant="all" aria-atomic="true">
            {{toast.msg}}
        </span>
    </div>
</md-toast>